@import '/Users/rebeccabrietzke/Learning/SpringBoard/50-Capstone-Project-2/texas-anglers-app/Client/src/_breakpoints.scss';
.container {
  .register {
    @include lg {
      flex-direction: column-reverse;
    }

    flex-direction: row;

    .bg-img {
      background: linear-gradient(
          rgba(75, 100, 74, 0.8),
          rgba(75, 100, 74, 0.8)
        ),
        url('../../assets/pexels-the-lazy-artist-gallery-1569002.jpg') center;
      background-size: cover;
      @include lg {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
      }
      //   gap will add space between elements in the flexbox

      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 0;
    }
  }
}
