.UserProfile_container {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 20px;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    .cover-img {
      width: 75%;
      max-height: 400px;
      border-radius: 5px;
    }
  }
  .profile {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .profile_left {
      width: 60%;
      margin: 20px;
      display: flex;
      // flex-direction: column;
    }
  }
}
