@import '../../_breakpoints.scss';
.UserProfile_container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 20px;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    .cover-img {
      width: 75%;
      max-height: 400px;
      border-radius: 5px;
    }
  }
  .profile {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    @include lg {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
    }

    .profile_left {
      min-width: 400px;
      margin: 20px;
      display: flex;
      // flex-direction: column;
    }
  }
}
