@import '../../_breakpoints.scss';

.PostForm {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid rgba(26, 25, 25, 0.5);
  justify-content: center;

  margin: 10px;
  @include sm {
    height: 125px;
    width: 100%;
    padding: 20px 30px;
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
  }

  .profile-img {
    height: 50px;
    width: 55px;
    background-position: top;
    background-size: cover;
    border-radius: 50%;
    margin-right: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 5px;
    }
    input {
      width: 100%;
      border: none;
      padding: 10px 20px;
      border-radius: 3px;
    }
    .form-input-row {
      margin-top: 10px;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      #img {
        flex: 1;
        justify-self: flex-start;
      }
      .form-input-col {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        .img-icon {
          margin-right: 10px;
          height: 35px;
          width: 35px;
          cursor: pointer;
        }
        .btn {
          padding: 10px;
          border: none;
          border-radius: 3px;
          font-weight: bold;
          cursor: pointer;
        }
        .btn-dark {
          background-color: #4b644a;
          color: #fff;
        }
      }
    }
    @media screen and (min-width: 500px) {
      width: 100%;
    }
  }
}
