.modal-container {
  width: 175px;
  // height: 150px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  //   justify-content: space-between;

  z-index: 2;
  position: absolute;
  right: 0;
  top: 25px;
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);

  .close-modal {
    position: absolute;
    right: 20px;
    top: 15px;
    .close-modal-btn {
      cursor: pointer;
    }
  }
  .modal-menu-items-conatiner {
    margin-top: 25px;
    .modal-menu-items {
      cursor: pointer;
      padding: 10px;

      span {
        margin-left: 10px;
        font-size: 1.1rem;
      }

      &:hover {
        color: #fff;
        border-radius: 3px;
      }
    }
    .delete {
      &:hover {
        background-color: red;
      }
    }
    .edit {
      &:hover {
        background-color: #273722;
      }
    }
  }
}
