@import '../../_breakpoints.scss';
.UserPost {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid rgba(26, 25, 25, 0.5);
  margin-top: 10px;
  @include sm {
    margin: 0;
    padding: 40px 30px;
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
  }

  .UserPost_container {
    padding: 20px;

    .UserPost_user {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .userInfo {
        display: flex;
        flex-direction: column;
        @include sm {
          flex-direction: row;
          gap: 20px;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          margin-bottom: 20px;
        }

        .details {
          display: flex;
          flex-direction: column;

          .name {
            font-weight: 500;
            font-size: 0.75rem;
            @include sm {
              font-size: 1rem;
            }
          }

          .date {
            font-size: 0.5rem;
            @include sm {
              font-size: 0.75rem;
            }
          }
        }
      }
      .modal-menu-btn {
        position: absolute;
        top: 0;
        right: 0;

        cursor: pointer;
      }
    }

    .content {
      margin: 20px 0px;
      width: 300px;
      @include sm {
        width: 100%;
      }
      img {
        max-width: 50%;
        max-height: 500px;
        object-fit: cover;
        margin-bottom: 20px;
      }
      p {
        font-size: 0.75rem;
        @include sm {
          font-size: 1rem;
        }
      }
    }

    .info {
      display: flex;
      align-items: center;
      gap: 20px;

      .item {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-size: 14px;
      }
    }
  }
}
