.navbar {
  display: flex;
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0;
  background-color: #273722;
  justify-content: space-between;
  align-items: center;
  .logo {
    background-image: url(../../assets/tx-anglers-low-resolution-logo-white-on-transparent-background.svg);
    height: 80px;
    width: 80px;
    background-position: center;
    background-size: cover;
    margin-left: 25px;
  }
  .menu-icon {
    display: none;
  }
  .route_links {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    .nav_link_container {
      margin-right: 25px;
    }

    .nav_link {
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem;
      font-weight: bold;
      cursor: pointer;
      span {
        margin-right: 10px;
      }
      .hidden {
        display: none;
      }
    }

    .nav_user_link {
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-bottom: 5px;
        background-size: cover;
        background-position: center;
      }
    }
    .user_profile_mobile {
      font-size: 0.5rem;
    }

    .dropdown {
      display: flex;
      max-width: 120px;
      min-width: 100px;
      position: relative;
      .fa_angle_down {
        position: absolute;
        right: 0;
        top: 6px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .navbar {
    .route_links {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;

      .nav_link_container {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .dropdown-menu {
          width: 200px;
        }
        .nav_link {
          font-size: 3rem;
        }
      }
      .user_profile_mobile {
        font-size: 3rem;
      }
      .nav_user_link {
        img {
          display: none;
        }
      }

      .dropdown {
        align-items: center;
        width: 100%;
      }
    }

    .route_links.active {
      background: #4b644a;
      left: 0;
      opacity: 0.85;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .route_links.inactive {
      display: none;
    }

    .fa_angle_down {
      display: none;
    }

    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      z-index: 3;
    }
  }
}
